#title {
    background-color: #F70776;
    color: white;
  }
  
  body {
    font-family: "Montserrat";
  }
  
  .container-fluid {
    padding: 3% 15%;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }
  
  h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
  }
  
  h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  p {
    color: #8f8f8f;
  }
  /* Navigation Bar */
  /* Navigation Bar */
  .navbar {
    padding: 0 0 4.5rem;
  }

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  margin-right: 50px; /* Remove default padding */
  }

/* Adjust the image size */
.navbar-brand img {
  width: auto;
  max-height: 60px; /* Adjust the height as needed */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
font-size: 1.2rem;
}

  /* Download Buttons  */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Image */
  
  .title-image {
  width: 90%;
  height: auto;
}

#synthiarc {
  background-color: #8f8f8f;
  padding: 7% 15%;
}

.synth_image {
  width: 90%;
  height: auto;
}

#features {
  background-color: #C3195D;
    padding: 7% 15%;
  }
  .feature-box {
    text-align: center;
    padding: 5%;
  }
  
  .icon {color: #31E1F7;
  margin-bottom: 1rem;}
  
  .icon:hover {
    color: crimson;}
  
  .feature {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;}
  
  .ftext {
    color: whitesmoke;
  }

#products {
  background-color: crimson;
  padding: 7% 15%;
}

  .card {
    height: 450px;
  }


  .product-image {
    margin: 10px;
    margin-bottom: 1rem;
    max-height: 50%;
    }
  
  .product-image:hover {
    filter: brightness(50%);
  }

  #footer {
    background-color: white;
  }

  .footer-con {
    max-width: 600px;
    margin: 0 auto;
    position: relative; /* Add relative positioning to the container */
  }

  /* Custom style for the logo */
  .footer-image {
    max-width: 100px; /* Set the maximum width for the logo */
    position: absolute; /* Position the logo absolutely */
    top: 10px; /* Position the logo 10px from the top */
    left: 10px; /* Position the logo 10px from the left */
  }

  /* Custom style for the form fields */
  .form-control {
    border-radius: 0; /* Remove rounded corners */
  }

  /* Custom style for the submit button */
  .btn-primary {
    border-radius: 0; /* Remove rounded corners */
  }